$width: 20%

.box-sizing
  box-sizing: border-box
.width
  width: 100%

.BokeData
  height: 100vh
  border: 1px solid #ccc
  padding: 20px
  .BokeData-box
    background-color: rgba(255, 255, 255, 0.8)
    height: 100%
    border-radius: 20px
    padding: 15px
    display: flex
    .box-left
      width: $width
      height: 100%
      border-radius: 20px
      .left-list-top
        width: 100%
        height: 50px
        border-bottom: 1px solid #cccc
        font-size: 14px
        text-align: center
        line-height: 50px
        margin-bottom: 10px
      .left-list-ul
        height: calc( 100% - 50px )
        overflow: auto
        .left-list-li
          padding: 0 20px
          height: 7%
          // border-bottom: 1px solid #ccc
          display: flex
          justify-content: left
          align-items: center
          cursor: pointer
          div
            width: 100%
            overflow: hidden
            transition: 0.5s all
            &:hover
              color: rgb(5,109,232)
        .left-list-li-hid
          color: rgb(5,109,232)
          border: 1px solid rgb(5,109,232)
          border-radius: 10px
          // background-color: #b6b6b6
    .box-right
      width: 100% - $width
      height: 100%
      overflow: auto
      padding: 20px
      padding-left: 30px
      .box-select
        width: 100%
        height: 20%
        display: flex
        .box-input
          width: 40%
          display: flex
          flex-direction: column
          justify-content: space-between
          .input-title
            margin-top: 10px
          .input-select
            margin-bottom: 50px
      .box-btn
        width: 60%
        display: flex
        flex-direction: column
        align-items: center
        .btn
          width: 150px
          height: 50px
          border-radius: 10px
          border: 1px solid #cccc
          background-color: rgba(5, 118, 255, 0.856)
          cursor: pointer
          color: white
          transition: 0.5s all
          margin-top: 20px
          &:hover
            border: 1px solid black
            background-color: rgba(5,109,232,0.8)
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 57, 0.2)
          &:active
            background-color: rgba(5, 118, 255, 0.566)
            border: 1px solid #cccc
      .right-box
        width: 100%
        height: 80%
        border-radius: 20px
        border: 1px solid #ccc
        overflow: auto
        .right-nav
          width: 100%
          height: 100%
          padding: 20px
        .right-loading
          width: 100%
          height: 100%
